pixdecor/
start_wayfire.sh
wayfire-plugins-extra/
wayfire.ini
wayfire/
wcm/
wf-shell.ini
wf-shell/
ignis/
ignis-gvc/
wpaperd/
eww/
wf-extra-protos/
wf-info/
wf-live-previews/
wf-panel-focus/
pywayfire/
wayfire.desktop